<div>
<h2>All Projects</h2>
<div class="ui four cards">
  <div class="card" *ngFor="let project of projects">
    <div class="content">
      <div class="header">{{project.title}}</div>
      <div class="description">{{project.summary}}</div>
    </div>
    <div class="ui bottom attached basic button" (click)="gotoProjectDetails(project)">View Project</div>
  </div>
  <a class="card" routerLink="/project/add">
  	<div class="content">
  		<div class="header"><i class="plus icon"></i>Add Project</div>
  	</div>
  </a>
</div>
</div>